/* HEADER */
        .header {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            background-color: rgb(var(--primary-color));
            z-index: 10;
        }

        .header__nav {
            width: 100%;
            max-width: 1450px;
            height: 76px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }

        .nav__logo {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .nav__logo-title {
            font-size: var(--subheadline-font-size);
            color: rgb(var(--secondary-color));
            padding: 30px;
            font-weight: 600;
        }

        .nav__right {
            display: flex;
            gap: 30px;
            padding: 30px;
        }

        .nav__right-about_me {
            font-size: var(--body-font-size);
            cursor: pointer;
            color: rgb(var(--secondary-color));
            text-decoration: none;
            transition: opacity 0.3s ease;
        }

        .nav__right-about_me:hover {
            opacity: 0.8;
        }