/* -------------------------------------- */
/* --- HEADER.CSS - Flux normal et Centrage --- */
/* -------------------------------------- */

.header{
    width: 100%;
    
    display: flex;
    flex-direction: column; 
    
    justify-content: flex-start;
    align-items: center; /* Assure que les enfants (nav et hero) sont centrés si leur largeur est inférieure à 100% */
    
    position: relative;
    top:0;
    left: 0;
    
    background-color: rgb(var(--secondary-color)); 
    z-index: 10;

    box-shadow: 0 4px rgba(0,0,0,0.05);
}


.header__nav{
    /* RETOUR AU FLUX NORMAL : Retrait de position: absolute; */
    width: 100%;
    max-width: 1450px; /* Largeur maximale pour les grands écrans */
    height: 76px; 
    
    display:flex;
    justify-content: space-between;
    align-items: center;

    /* AJOUT: Centrage du bloc de navigation sur la page */
    margin: 0 auto; 
    
    /* padding: 0px 20px; */
    z-index: 10;
}

.nav__logo{
    display: flex;
    align-items: center;
    gap: 15px;
    
}

a {
    text-decoration: none;
    
}
.nav__logo-title{
    font-size: var(--subheadline-font-size); 
    color: rgb(var(--primary-color));
    padding: 30px;
    
}

.nav__right{
    display: flex;
    gap:30px;
    padding: 30px
}

.nav__right-about_me{
    font-size:var(--body-font-size);
    cursor: pointer;
    /* padding: 30px; */
    color: rgb(var(--primary-color));
    /* text-decoration: underline; */
}

.right__link{
    display: flex;
    gap: 10px;
}